.footer_div{
    background: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 15%, rgba(181,216,125,1) 60%);}

@media screen and (max-width:420px) {
    .mob-0{display: none;}
    .mob-1{width: 8.33%;}
    .mob-2{width: 16.66%;}
    .mob-3{width: 25%;}
    .mob-4{width: 33.33%;}
    .mob-5{width: 41.66%;}
    .mob-6{width: 50%;}
    .mob-7{width: 58.33%;}
    .mob-8{width: 66.66%;}
    .mob-9{width: 75%;}
    .mob-10{width: 83.33%;}
    .mob-11{width: 91.66%;}
    .mob-12{width: 100%;}

    .facebook_logo img{
        max-width: 100%;
        height: auto;
        padding-left: 7%;
    }

    .footer_right {
        float: right;
        margin: auto;
        font-size: 22px;
    }

    .footer_div {
        display: flex;
        position: fixed;
        bottom: 0;
    }

    .admin {
        margin-top: auto;
        margin-bottom: auto;
        color: black;
    }

    .legals {
        color: black;
        margin-top: auto;
        margin-bottom: auto;
        text-align: left;
        padding-right: 2%;
        padding-left: 2%;
    }

    .row {
        display: flex;
        flex-direction: row;
    }
}

@media screen and (min-width:421px) and (max-width:1024px) {
    .tab-0{display: none;}
    .tab-1{width: 8.33%;}
    .tab-2{width: 16.66%;}
    .tab-3{width: 25%;}
    .tab-4{width: 33.33%;}
    .tab-5{width: 41.66%;}
    .tab-6{width: 50%;}
    .tab-7{width: 58.33%;}
    .tab-8{width: 66.66%;}
    .tab-9{width: 75%;}
    .tab-10{width: 83.33%;}
    .tab-11{width: 91.66%;}
    .tab-12{width: 100%;}

    .facebook_logo img{
        max-width: 100%;
        height: auto;
        padding-left: 7%;
    }

    .footer_right {
        float: right;
        margin: auto;
        font-size: 22px;
        padding-right: 2%;
    }

    .footer_div {
        display: flex;
        position: fixed;
        bottom: 0;
    }

    .admin {
        margin-top: auto;
        margin-bottom: auto;
        color: black;
    }

    .legals {
        color: black;
        margin-top: auto;
        margin-bottom: auto;
        text-align: left;
        padding-left: 12%;
    }

    .row {
        display: flex;
        flex-direction: row;
    }
}

@media screen and (min-width:1025px) {
    .dsk-0{display: none;}
    .dsk-1{width: 8.33%;}
    .dsk-2{width: 16.66%;}
    .dsk-3{width: 25%;}
    .dsk-4{width: 33.33%;}
    .dsk-5{width: 41.66%;}
    .dsk-6{width: 50%;}
    .dsk-7{width: 58.33%;}
    .dsk-8{width: 66.66%;}
    .dsk-9{width: 75%;}
    .dsk-10{width: 83.33%;}
    .dsk-11{width: 91.66%;}
    .dsk-12{width: 100%;}

    .facebook_logo img{
        max-width: 20%;
        height: auto;
        padding-left: 5%;
    }

    .footer_right {
        font-size: 22px;
        color: black;
    }

    .footer_div {
        display: flex;
        position: fixed;
        bottom: 0;
    }

    .admin {
        margin-top: auto;
        margin-bottom: auto;
        color: black;
        margin-right: 2%;
    }

    .legals {
        color: black;
        text-align: center;
        margin-top: auto;
        margin-bottom: auto;
    }

    .row {
        display: flex;
        flex-direction: row;
    }
}